/data/
output/
output_v2/
output_v2_bck/
/output-bck*/
output_*.png
/spot-check/
__pycache__
.ipynb_checkpoints/
/tmp/
/temp/
/pose-overlays/
/*batch-output/
/strain-survey.csv
/strain-survey.txt
/strain-survey-sample-counts.txt
/strain-survey-subset.txt
notebook.tex
/gait-mutants-subset.txt
/gaitcountsummary.txt
/justin-xsede
/.dirconf
*.nb.html
*.DS_Store
.Rhistory

*.h5
*.avi
.Rproj.user
